{% extends "blog/base.html" %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.content|linebreaksbr }}</p>

  {% if user.is_authenticated and user == post.author %}
    <p><a href="{% url 'post_edit' pk=post.pk %}">Edit</a> | <a href="{% url 'post_delete' pk=post.pk %}">Delete</a></p>
  {% endif %}

  <h3>Comments</h3>
  {% for comment in comments %}
    <p>{{ comment.content|linebreaksbr }} - {{ comment.author }}</p>
  {% endfor %}

  <h3>Add a Comment</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
  </form>
{% endblock %}
